body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.heading_container h2::before, .heading_container h2::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40px;
  height: 1px;
  background-color: #fec016;
}

.heading_container h2::before {
  left: -5px;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.heading_container h2::after {
  right: -5px;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

@media (max-width: 1120px) {
  .heading_container h2{
    color: white;
  }

    .heading_container p {
      color: white;
    }
}

/*header section*/
.hero_area {
  height: 100vh;
  background-color: #b5caee;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
}



.sub_page .hero_area {
  height: auto;
}

.sub_page .who_section.layout_padding {
  padding-top: 60px;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  margin: 10px 30px;
  color: #ffffff;
  text-align: center;
  position: relative;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #ffffff;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand span {
  font-size: 24px;
  color: #ffffff;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

.nav-links {
  text-decoration: none;
  background-color: #ffffff4d;
}


.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background: #00000054;
  /* Transparent white tint */
  backdrop-filter: blur(5px);
  /* Optional: adds a blur effect */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.custom-navbar-icon {
  flex: 1;
}

.custom-icon {
  height: 40px;
  /* Adjust as needed */
}

.custom-nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.custom-nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}

.custom-nav-links li a:hover,
.custom-nav-links li a:focus {
  color: blue;
  /* Change color on hover and focus */
}

.custom-nav-links li a:active {
  color: blue;
  /* Change color when clicked */
}


.custom-icon {
  height: 40px;
  font-size: 26px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  margin-left: 7vw;
  transition: all 0.4s ease;
}

a.custom-icon:hover {
  color: #33defc;
  text-decoration: none;
}


.custom-nav-links {
  list-style: none;
  display: flex;
  gap: 31px;
  margin-right: 7vw;
  padding-top: 5px;
  margin-bottom: 0px;
}

ul.custom-nav-links li a:hover {
  color: #33defc;
}
/*end header section*/
.slider_section {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.slider_section .detail-box {
  text-align: center;
  margin-bottom: 110px;
}

.slider_section .detail-box h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

.slider_section .detail-box h2 {
  text-transform: uppercase;
}

.slider_section .detail-box p {
  margin-top: 25px;
}

@media (max-width: 768px) {
  .detail-box p {
    color: #f8f3f3;
  }
}
@media (max-width: 1120px) {
  .detail-box p {
    color: #f8f3f3;
  }
}


.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 55px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
  border-radius: 20px 20px 0 20px;
  margin-top: 35px;
  transition: all 0.6s ease;
}

.slider_section .detail-box a:hover {
  background-color: #33defc;
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 767px) {
  .detail-box{
    text-align: center;
  }
}

@media (max-width: 1120px) {

  .detail-box h6 {
      color: white;
    }

  .detail-box h5{
    color: white;
  }
  .detail-box h5 span{
    color: #007bff;
  }
  .detail-box h2{
    color: white;
  }
  
}

.custom-button-container {
  display: inline-block;
}

.custom-button {
  display: inline-block;
  padding: 10px 55px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
  border-radius: 20px 20px 0 20px;
  margin-top: 35px;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease;
  z-index: 1;
}

.custom-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color:#8a01d6;
  transition: transform 0.5s ease;
  z-index: -1;
  /* Placed behind the button text */
}

.custom-button:hover::before {
  transform: translateX(100%);
  /* Slide from left to right */
}

.custom-button:hover {
  color: #000000;
  border-color: #8a01d6;
  /* Optional: Change border color on hover */
}

h2.heading-banner {
  color:#33defc;
}

a.custom-button:hover {
  text-decoration: none;
}

.slider_section #carouselExampleIndicators {
  bottom: 0;
}

.slider_section #carouselExampleIndicators li {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .detail-box a:hover {
  background-color: #8a01d6;
  color: #000000;
  text-decoration: none;
}

.do_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.do_section .do_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}

.do_section .do_container .box {
  text-align: center;
  position: relative;
  z-index: 5;
  margin: 35px 25px 0 25px;
}

.do_section .do_container .box .img-box {
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #353434;
  border-radius: 100%;
}

.do_section .do_container .box .img-box img {
  width: 45px;
}

.do_section .do_container .box .detail-box {
  margin-top: 35px;
}

.do_section .do_container .box:hover .img-box {
  background-color:#8a01d6;
}

.do_section .do_container .arrow_bg::before {
  content: "";
  position: absolute;
  top: -23px;
  left: -44px;
  width: 262%;
  height: 90%;
  z-index: 3;
  background-size: cover;
}


@media (max-width: 1120px) {
  .do_section .do_container .arrow_bg::before {
    content: "";
    position: absolute;
    top: -23px;
    left: -44px;
    width: 239%;
    height: 90%;
    z-index: 3;
    background-size: cover;
    display: none;
  }
}

@media (max-width: 577px) {

      .do_section .do_container .arrow_bg::before {
          content: "";
          position: absolute;
          top: -23px;
          left: -38px;
          width: 175%;
          height: 90%;
          z-index: 3;
          background-size: cover;
          display: none;
        }
  
}

.do_section .do_container .arrow-start::before {
  background-image: url(../images/arrow-start.png);
}

.do_section .do_container .arrow-middle::before {
  background-image: url(../images/arrow-middle.png);
}

.do_section .do_container .arrow-end::before {
  background-image: url(../images/arrow-end.png);
}

.who_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.who_section .img-box img {
  width: 100%;
}

.who_section .detail-box {
  margin-left: 65px;
}

.who_section .detail-box p {
  margin-top: 35px;
}

.who_section .detail-box a {
  display: inline-block;
  padding: 8px 30px;
  background-color: #353434;
  border: 1px solid #353434;
  color: #ffffff;
  border-radius: 20px 20px 0 20px;
  margin-top: 35px;
}

.who_section .detail-box a:hover {
  background-color: transparent;
  color: white;
}

.work_section .work_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1%;
}

.work_section .work_container .box {
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.work_section .work_container .box img {
  width: 100%;
}

.work_section .work_container .box.b-2, .work_section .work_container .box.b-3 {
  width: 43.5%;
}

.work_section .work_container .box.b-1, .work_section .work_container .box.b-4 {
  width: 56.5%;
}

.client_section {
  padding-bottom: 150px;
}

.client_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.client_section .box {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 20px;
}

.client_section .box .img-box {
  width: 60px;
}

.client_section .box .img-box img {
  width: 100%;
}


@media (max-width: 768px) {
  .img-box img {
      margin-top: 27px;
    }
}

.client_section .box .detail-box {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .box .detail-box h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.client_section .box .detail-box h5 span {
  text-transform: none;
  font-size: 16px;
  font-weight: normal;
  color:#8a01d6;
}

.client_section .box .detail-box img {
  width: 15px;
  margin: 35px 0;
}

.client_section .carousel-wrap {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.client_section .owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 50px;
  height: 50px;
  background-color: #000000;
  background-size: 16px;
  background-position: center;
  border-radius: 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -75px;
  outline: none;
}

.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.client_section .owl-carousel .owl-nav .owl-prev {
  background-image: url(../images/prev.png);
  left: 50%;
  -webkit-transform: translateX(-102%);
          transform: translateX(-102%);
}

.client_section .owl-carousel .owl-nav .owl-next {
  right: 50%;
  background-image: url(../images/next.png);
  -webkit-transform: translateX(102%);
          transform: translateX(102%);
}

.client_section .owl-carousel .owl-dots.disabled,
.client_section .owl-carousel .owl-nav.disabled {
  display: block;
}

.client_section .owl-item.active.center .box {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  .client_section .container{
    padding-top: 60px;
  }
}

.target_section {
  background-image: url(../images/target-bg.jpg);
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

.target_section .detail-box {
  margin: 30px 0;
}

.target_section h2 {
  font-weight: bold;
}

.target_section h5 {
  font-size: 18px;
  font-weight: 500;
}

/* contact section */
.contact_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_section .contact-form {
  padding: 25px;
  border-radius: 20px;
}

.contact_section .contact-form input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  margin: 15px 0;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}





.contact_section .contact-form input.input_message {
  height: 175px;
}

.contact_section .contact-form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.contact_section .contact-form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.contact_section .contact-form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.contact_section .contact-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1120px) {
  .contact_section .contact-form input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    margin: 15px 0;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 30px;
  }

    .contact_section .contact-form input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.4);
    }
  
    .contact_section .contact-form input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.4);
    }
  
    .contact_section .contact-form input::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.4);
    }
  
    .contact_section .contact-form input::placeholder {
      color: rgba(255, 255, 255, 0.4);
    }
}




.contact_section .contact-form button {
  border: none;
  outline: none;
  padding: 12px 50px;
  text-transform: uppercase;
  margin-top: 25px;
  background-color: black;
  color: #fff;
  border-radius: 30px;
}

.contact_section .map_img-box {
  width: 80%;
  margin: 25px auto 0 auto;
}

.contact_section .map_img-box img {
  width: 100%;
}


/* @media (max-width:767px) {
  section#contact {
      background-color: white;
    }
} */

/* end contact section */
.info_section {
  background-color: #232323;
  color: #ffffff;
  padding: 90px 0 45px 0;
}

.info_section h5 {
  margin-bottom: 25px;
  font-size: 24px;
}

.info_section .info_insta .insta_container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_insta .insta_container img {
  width: 100%;
}

.info_section .info_insta .insta_container .insta-box {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #ffffff;
  padding: 10px 20px;
}

.info_section .info_contact .img-box {
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info_section .info_contact p {
  margin: 0;
}

.social_box a {
  padding-right: 24px;
}

.info_section .info_contact>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px 0px;
}

.info_section .info_contact > div img {
  height: auto;
  margin-right: 12px;
}

.info_section .info_form form input {
  outline: none;
  width: 100%;
  padding: 7px 10px;
}

.info_section .info_form form button {
  display: inline-block;
  padding: 8px 30px;
  background-color: #8a01d6;
  border: 1px solid #8a01d6;
  color: #ffffff;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
      transition: all 0.6s ease;
}

.info_section .info_form form button:hover {
  background-color: transparent;
  color: #8a01d6;
}

.info_section .info_form .social_box {
  margin-top: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_form .social_box a {
  margin-right: 25px;
}

@media (max-width: 767px) {
  .info_info{
    text-align: center;

  }

    .info_form{
      text-align: center;
    }

        .footer-contact {
          /* display: inline-flex; */
          align-items: center;
          justify-content: stretch;

        }

  
}

/* footer section*/
.footer_section {
  background-color: #232323;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_section p {
  padding: 20px 65px;
  color: #fbfcfd;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #ffffff;
}

.footer_section a {
  color: #fbfcfd;
}

a.whatsapCall:hover {
  color: #33defc;
}

a.whatsapCall {
  text-decoration: none;
  color: white;
  transition: all 0.6s ease;
}
.iconStyle {
  color: white;
  transition: all 0.6s ease;
  font-size: 20px;
}
.iconStyle:hover {
  color: #33defc;
}
ul.footer-quick-links li a:hover {
  color: skyblue;
}

ul.footer-quick-links li a {
  color: white;
}

ul.footer-quick-links li {
  text-decoration: none;
  list-style: none;
  color: white;
  padding-bottom: 11px;
}
ul.footer-quick-links {
  padding: 0;
}
.footer-contact {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

@media (max-width: 767px) {
  .footer-contact {
    /* display: inline-flex; */
    /* align-items: center; */
    /* justify-content: stretch; */
    text-align: center;
    margin-left: 117px;
  }
  
}

section.work_section.layout_padding {
  background-color: #e9e3e3;
  margin: 5vw 0;
}


.company-name {
  font-size: 4rem;
  /* Adjust as per your requirement */
  font-weight: bold;
  background: linear-gradient(90deg, #710be2, #d100fd, #e1a0ef, #537cfc, #3bbef9, #b600f1, #d102fc);
  background-size: 300% 300%;
  /* To give the text a flowing effect */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: gradient-animation 5s infinite linear;
  /* Controls the animation speed */
}

/* Define the animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

a.custom-button.form-button {
  background-color: black;
  color: white;
}
/* end footer section*/



/* product section css starts */
 .product {
   background: linear-gradient(43deg, #b600ff, #33defc38, #a65ee614, transparent);
   padding: 48px 0px;
 }

 @media (max-width:767px) {
  .product {
      background: linear-gradient(121deg, #b600ff, #33defcb8, #a65ee68a, #00000000);
      padding: 48px 0px;
    }
    .product .container{
      text-align: center;
    } 
 }

 @media (max-width:1024px) {
   .product {
     background: linear-gradient(121deg, #b600ff, #33defcb8, #a65ee68a, #00000000);
     padding: 48px 0px;
   }

   .product .container {
     text-align: center;
   }
 }


 .product-contetnt h2 {
   font-weight: bolder;
   text-transform: uppercase;
 }

 .product-contetnt h5 {
   font-size: 24px;
   font-weight: 100;
   text-transform: capitalize;
 }

 .product-contetnt p {
   font-size: 15px;
   text-transform: math-auto;
 }

 .product-contetnt a {
   text-decoration: none;
   color: #0000cf;
 }

 .product .heading_container {
  -webkit-box-align: center;
   text-align: center;
   align-items: center;
   margin-bottom: 4vw;
 }


 .product-img img {
   box-shadow: 9px 12px 7px 0px #00000057;
 }

 @media (max-width: 768px) {
  .product-img img {
      margin-bottom: 35px;
      margin-top: 35px;
              width: 100%; 
    }
        .product-contetnt h2 {
          color: white;
        }
        .product-contetnt h5{
          color: white;
        }
        .product-contetnt p {
          color: white;
        }
 }

 @media (max-width: 1120px) {
   .product-img img {
     margin-bottom: 35px;
     margin-top: 35px;
     width: 100%;
   }

   .product-contetnt h2 {
     color: white;
   }

   .product-contetnt h5 {
     color: white;
   }

   .product-contetnt p {
     color: white;
   }
 }

    @media (max-width: 1024px) {
      .product-img img {
        margin-bottom: 35px;
        margin-top: 35px;
        width: 100%;
      }
  
      .product-contetnt h2 {
        color: white;
      }
  
      .product-contetnt h5 {
        color: white;
      }
  
      .product-contetnt p {
        color: white;
      }
    }

/* product section css ends */


/* who we are section */


section#whoWeAre {
  padding: 6vw 0vw;
}


@media (max-width:767px) {
  section#whoWeAre {
      background: #0000004d;
    }
}

@media (max-width:1120px) {
  section#whoWeAre {
    background: #0000004d;
  }
}


 .who_section .heading_container {
   -webkit-box-align: center;
   text-align: center;
   align-items: center;
   margin-bottom: 4vw;
 }

img.hand-shake {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 4px dashed white;
}
.contact_img .contact-img {
  position: relative;
  height: 36vw;
  width: 40vw;
}

@media (max-width: 768px) {
  .contact_img .contact-img {
    height: 60vw;
    /* Adjusted to fit mobile screen */
    width: 80vw;
    /* Adjusted to fit mobile screen */
  }

  .img.hand-shake {
    height: 100px;
    /* Smaller image for mobile */
    width: 100px;
    border-radius: 50%;
    border: 3px dashed white;
    /* Smaller border for mobile */
  }

  
}

.contact_img .hand-shake {
  position: absolute;
  bottom: 35px;
  right: -140px;
}

@media (max-width: 768px) {
  .contact_img .hand-shake {
    position: absolute !important;
    bottom: -74px !important;
    right: -15px !important;
  }
}



/* who we are section  ends*/





/* prduct section csss starts */

.PMS-img img {
  height: 300px;
  width: 100%;
}

.colorfull {
  background: linear-gradient(132deg, #b600ff, #33defc38, #a65ee614, transparent);
  padding: 4vw 3vw;
}
.colorfull2 {
  background: linear-gradient(330deg, #b600ff, #33defc38, #a65ee614, transparent);
  padding: 4vw 3vw;
}

.PMS-content h1 {
  font-weight: 600;
}

.PMS-content h5 {
  font-weight: 600;
}

.PMS-content h3 {
  font-weight: 500;
  /* font-size: 35px; */
}


@media (max-width: 768px) {
  section.who_section.layout_padding {
      background: black;
    }
}









.header {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  background-color: #151418;
  z-index: 9;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 68px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.logo a span {
  color: #8739fa;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  padding: 7px 27px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: #fff;
}

.menu:hover a {
  opacity: 0.4;
}

.menu a:hover {
  opacity: 1;
  color: #fff;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked~.menu {
  transform: scale(1, 1);
}

@media only screen and (max-width: 950px) {
  .menu {
    flex-direction: column;
    background-color: #151418;
    align-items: start;
    position: absolute;
    top: 100px;
            left: 0px;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
    list-style: none;
  }

  .menu li {
    margin-bottom: 10px;
    list-style: none;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }
}
ul.menu li {
  list-style: none;
}
/* prduct section csss ends */

/*# sourceMappingURL=sty0le.css.map */