/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
} */

/* Navigation bar CSS  */
/* Containing the text About Micro Logic Innovations */
.main_header {
    margin-top: -6vh;
    font-size: 36px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

/* Parent div is the dive containing left and right section [text and image respectively] */
.parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Containg our image and text */
.left_section {
    text-align: left;
    font-size: 1.5vw;
    background-color: #d9d9d9;
    width: 48vw;
    height: 60vh;
}

/* containing the image */
.right_section {
    background-color: #ffffff;
    width: 50vw;
    height: 60vh;
}

img {
    width: 50vw;
    height: 60vh;
}

.footer {
    background-color: #e5e5e5
}

/* for mobile view */
@media only screen and (max-width: 600px) {

    /* Containing the text About Micro Logic Innovations */
    .main_header {
        margin-top: 5vh;
        font-size: 4vw;
        background-color: #ffffff;
        color: #000000;
        text-align: center;
    }

    /* Parent div is the dive containing left and right section [text and image respectively] */
    .parent {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Containg our image and text */
    .left_section {
        text-align: left;
        font-size: 1.5vw;
        background-color: #d9d9d9;
        width: 100vw;
        height: 20vh;
    }

    /* containing the image */
    .right_section {
        background-color: #ffffff;
        width: 100vw;
        height: 60vh;
    }

    img {
        width: 100vw;
        height: 60vh;
    }

    .footer {
        background-color: #e5e5e5
    }

}