body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_bar_container {
    position: absolute;
    top: 2vh;
}

#index_button {
    width: 60vw;
}

#goToIndex {
    font-size: 3vw;
    color: white;
}

#nav_buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.navigation-button {
    /* background-color: transparents; */
    background: none;
    color: #000067;
    font-size: 1.4vw;
    margin-left: 2vw;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.navigation-button:hover {
    color: #000102;
    transform: scale(1.05);
}

video {
    width: 100vw;
    height: 98vh;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    #nav_buttons {
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: end;
        margin: 0px -3vw;
    }

    .navigation-button {
        background: none;
        color: rgb(8, 25, 110);
        font-size: 4vw;
        margin-left: 2vw;
        margin-bottom: 1vw;
        border: none;
        font-weight: bold;
        transition: background-color 0.3s, transform 0.3s;
    }

    video {
        display: none;
    }

    #replacementImage {
        width: 100vw;
        height: 98vh;
        object-fit: fill;
    }
}