.nav_bar_container {
    /* background-color: #b1d0d1;
    border: 1px solid #51a2af;
    border-radius: 30px;
    box-shadow: 0 0 50px 15px #237dad; */
    /* offsset offsett blur-radius  spread-radius*/
}

#index_button {
    width: 60vw;
}

#goToIndex {
    font-size: 3vw;
    color: #000067;
}

#nav_buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.navigation-button {
    /* background-color: transparents; */
    background: none;
    color: rgb(13, 30, 128);
    font-size: 1.4vw;
    display: flex;
    flex-direction: row;
    margin-left: 1.5vw;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.navigation-button:hover {
    color: #0d84d4;
    transform: scale(1.05);
}


@media only screen and (max-width: 600px) {
    #nav_buttons {
        width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: end;
        margin: 0px -3vw;
    }

    .navigation-button {
        background: none;
        color: rgb(8, 25, 110);
        font-size: 4vw;
        margin-left: 2vw;
        margin-bottom: 1vw;
        border: none;
        font-weight: bold;
        transition: background-color 0.3s, transform 0.3s;
    }
}